.rainbow{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.semitransparent{
    background-color: rgba(200,255,255, 0.5);
}
body{
    background-image: url("floppy.jpg");
}
h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Lucida Sans';
}
h2{
    color: darkblue;
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans';
}
h3{
    color: darkblue;
    font-size: 40px;
    font-family: 'Lucida Sans';
}
h4{
    color: darkblue;
}
h6{
    color: blue;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans';
}
p{
    color: blue;
    font-size: 18px;
}
a{
    color: blueviolet;
    font-size: 22px;
}
}